.mat-mdc-card {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.mat-toolbar {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
